{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn" id="refresh">Refresh</a>
        </div>
    </div>
    {% for x in twitter_info %}
    <div class="row">
        <div class="col s4">
            Username: <a href="http://twitter.com/{{ x.username }}" target="_blank">@{{ x.username }}</a>
        </div>
        <div class="col s4">
            Followers: <a href="http://twitter.com/{{ x.followers }}/followers" target="_blank">{{ x.followers }}</a>
        </div>
    </div>
    {% empty %}
        <h1>No data found.</h1>
    {% endfor %}
    <h6>Not auto refresh</h6>
{% endblock content %}